# Build outputs
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release

# Gradle distribution
gradle-8.5/
gradle-8.5-bin.zip

# Signing
*.jks
*.keystore

# Log files
*.log

# Decompiled
contacts.apk
contacts_decompiled/

# OS specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
._*
.Spotlight-V100
.Trashes

# Eclipse
.classpath
.project
.settings/